<!-- Begin content -->
<form class="container my-5">
  <h1 class="text-center mb-4">Contact Me</h1>
  <div class="card mb-4 mx-auto">
    <div class="card-body px-3">
      <div class="form-outline mb-4 me-2">
        <label class="form-label mb-0" for="form2Example17">First Name</label>
        <input type="email" id="form2Example17" class="form-control form-control-lg" ng-model="firstName" />
      </div>

      <div class="form-outline mb-4 me-2">
        <label class="form-label mb-0" for="form2Example17">Last Name</label>
        <input type="email" id="form2Example17" class="form-control form-control-lg" ng-model="lastName" />
      </div>

      <div class="form-outline mb-4 me-2">
        <label class="form-label mb-0" for="form2Example17">Email</label>
        <input type="email" id="form2Example17" class="form-control form-control-lg" ng-model="email" />
      </div>

      <div class="form-outline mb-4 me-2">
        <label class="form-label mb-0" for="form2Example17">Mobile Phone</label>
        <input type="email" id="form2Example17" class="form-control form-control-lg" ng-model="mobilePhone" />
      </div>

      <div class="form-outline mb-4 me-2">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" id="flexcheckboxDefault1">
        <label class="form-check-label" for="flexcheckboxDefault1">
          Keep me up to date on news and offers
        </label>
      </div>

      <a href="#" class="btn">Submit</a>
    </div>
  </div>
</form>
