<header class="d-flex flex-wrap justify-content-center py-3 mb-0 px-5">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" routerLink="">
    <span class="fs-5">
      <i class="fa-solid fa-code"></i>
      <strong class="ms-2">Landing</strong>Page
    </span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="#" class="nav-link fw-bold" routerLink="/lienhe">Contact</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link bg-light fw-bold" routerLink="/notfound">How it works</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active bg-dark fw-bold" aria-current="page" routerLink="">
        <i class="fa-solid fa-rocket"></i> Get Started
      </a>
    </li>
  </ul>
</header>
