<footer>
  <div class="py-5 container">
      <div class="row">
          <div class="col-6 col-md-2 mb-3">
              <h5>Marketplace</h5>
              <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">All NFTs</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Art</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Collectibles</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Domain Names</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Music</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Photography</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sports</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Trading Cards</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Utility</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Virtual Worlds</a></li>
              </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
              <h5>Resources</h5>
              <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Learn</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help Center</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Platform Status</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Partners</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Taxes</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Docs</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Newsletter</a></li>
              </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
              <h5>Company</h5>
              <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ventures</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Grants</a></li>
              </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
              <form class="">
                  <h5>Stay in the loop</h5>
                  <p>Join our mailing list to stay in the loop with our newest feature releases, NFT drops, and
                      tips
                      and tricks for navigating OpenSea.</p>
                  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                      <label for="newsletter1" class="visually-hidden">Your email address</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                      <button class="btn btn-primary" type="button">Subscribe</button>
                  </div>
              </form>
          </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>&copy; 2022 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                          <use xlink:href="#twitter" />
                      </svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                          <use xlink:href="#instagram" />
                      </svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                          <use xlink:href="#facebook" />
                      </svg></a></li>
          </ul>
      </div>
  </div>
</footer>
