<section class="vh-100 overflow-hidden">
  <div class="row d-flex align-items-center w-100">
    <div class="col">
      <div class="row g-0">
        <div class="auth-sidebar col-md-6 col-lg-4 d-none d-md-block" style="background-color: #F3D284;">
          <header class="p-5">
            <a href="#">dribbble
              <img src="images/" alt="">
            </a>
            <h1>Discover the world’s top Designers & Creatives.</h1>
          </header>

          <div class="artwork d-flex flex-column justify-content-end">
            <div class="artwork-image">
              <img src="../assets/images/sign-up-2b63dbffcc69046adb0ec414be26771ce10d91a8f9b4de7c281bcbee9e95d9f9.png"
                alt="login form" class="img-fluid" />
            </div>
            <p class="artwork-attribution px-5">
              Art by
              <a href="https://www.instagram.com/mthusayhi_/" class="url">@mthusayhi_</a>
            </p>
          </div>
        </div>

        <div class="content col-md-6 col-lg-8 ">
          <nav class="auth-nav d-flex justify-content-end px-4 py-4">
            <p class="auth-link">
              Already a member?
              <a href="SignIn.html">Sign In</a>
            </p>
          </nav>
          <div class="card-body p-4 p-lg-5 d-flex align-items-center justify-content-center">
            <form class="mx-5">
              <div class="header d-flex align-items-center mb-4 pb-1">
                <span class="fw-bold mb-0">Sign up to Dribbble</span>
              </div>

              <div class="auth-connections pt-1 mb-4">
                <a href="#" class="google-connect-btn btn btn-lg btn-block me-2">
                  <i class="fa-brands fa-google"></i>
                  <span class="px-3">Sign up with Google</span>
                </a>
                <a href="#" class="twitter-connect-btn btn btn-lg btn-block">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </div>

              <div class="divider d-flex align-items-center justify-content-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Name</label>
                    <input type="email" id="form2Example17" class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Username</label>
                    <input type="email" id="form2Example17" class="form-control form-control-lg" />
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example17">Email</label>
                <input type="email" id="form2Example17" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-5">
                <label class="form-label" for="form2Example27">Password</label>
                <input type="password" id="form2Example27" class="form-control form-control-lg" />
              </div>

              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                <label class="form-check-label" for="form2Example3">
                  Creating an account means you’re okay with our
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                  , and our default
                  <a href="#!" class="small text-muted">Notification Settings</a>.
                </label>
              </div>

              <div class="pt-1 mb-4 sign-in">
                <a href="home.html" class="btn btn-lg btn-block">Creat account</a>
              </div>


              <div class="">

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
