<!-- Slider -->
<app-carousel></app-carousel>

<!-- Content -->
<div class="album py-5 bg-light">
  <div class="container">

      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/EiOaRYhiw_Mwndw8FucNErVkIlyuG30CT0qYtRIMtSxbRviXdYWFd4pb-HqkXGNTe0GUCflnKCWbbhFPlrANknR3Qbyz_HecbvAysHo?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #27215</h4>
                      <h5 class="card-title">0.0048 ETH</h5>
                      <small class="text-muted">Last sale: 0.006 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/USDlmuvxDyBBjwTxynPdPj1zhrKcGvmyzz7ETD_8nWevm73HmuSMSWS9EpO8Z8xa4XysonG3R2z561fjPDdD6s0-9LonRQNR98xI7w?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #19073</h4>
                      <h5 class="card-title">0.0049 ETH</h5>
                      <small class="text-muted">Last sale: 0.007 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/BAjloa0YPwuSdIzlKGer0qaVpXNzT2O6fk_4mxOtIWKa_vIVehsdo8oLzgT9lUp1BzZ10Ft6NdvCuwWcsZhbmrd0IH-piSZ2VLubqQ?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire #3821">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #3821</h4>
                      <h5 class="card-title">0.0049 ETH</h5>
                      <small class="text-muted">Last sale: 0.007 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/j3DNAjsMQtmRTutbrG-RngwcB3OvDSgBUJ7DUM91PXG37aGBM6uRx0IfvfumKxRh6PM6osRlRTSCxZJGV18Tu-pRSUhkZ97Da460eQ?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire #40">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #40</h4>
                      <h5 class="card-title">0.005 ETH</h5>
                      <small class="text-muted">Ends in 1 day</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>

          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/MXjtWQa-PgDEgFxxxgMUe2YznytEUyyiNjw9jOOnRw5IRRCLlGlpmu30xvrjOIeo6GrJK0dcGKHMEFbqYPyvy2HioucaDnxiuRg7JF4?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire #29912">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #29912</h4>
                      <h5 class="card-title">10,000 ETH</h5>
                      <small class="text-muted">Last sale: 0.005 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/2lN4CYIPwCq5U47MYX1-wMhgZPGoCNB_tP8-OOwP_PNsC5Y8wWw44ZZ8eZ-ZOdQqFreDYcihcCyTJubCGyxA1qDqyucbN7BwkFOnXg?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #19073</h4>
                      <h5 class="card-title">777 ETH</h5>
                      <small class="text-muted">Last sale: 0.009 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/qt1KhIp3p7yrzRSiI_3Las8da7fzdWlIdZaItJ8m4hj5gb8XqdsYgU8gczk5bQ6a7B36siu1P0m2nr2oEnm4hN-S9UX-YC72NOfblw?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire #3821">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #17154</h4>
                      <h5 class="card-title">100 ETH</h5>
                      <small class="text-muted">Last sale: 0.009 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/QVZuVk8BSeVts4y0s-cYDWXoi2Fu0FfG-A3f7NJShF4-aUnge-R1MahJeLPXrqlhgkFPR5d8Ud11i7IqnUEpYPpRu7e4OTlHs5hFwQ?auto=format&w=1000"
                          alt="Ritzy Ape Billionaire #40">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Ritzy Ape Billionaire #40</h4>
                      <h5 class="card-title">13 ETH</h5>
                      <small class="text-muted">Last sale: 0.009 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>

          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/qkgnwOZta58eD4wy1qZA1EVgl9pYLmtr0xKNRf9tFf4jpAYg7DDrXDaDPv1KeZI96w1lKAw6b2yMOSVo9gaT7Ls6-h7_JwBkMfF-Rks?auto=format&w=1000"
                          alt="LUPPY Bsr#3050">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">LUPPY Bsr#3050</h4>
                      <h5 class="card-title">28.8 ETH</h5>
                      <small class="text-muted">Ends in 6 days</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gae/6Dgx7XBWzSidgJzPTkb6N1rB248W8Jnh_zjyv3EV1wa6sditM2aFgIohaZ0N6gVAOC2ns9qC_WUnvzyY3RppH3ImLZqmMp5GofNDQw?auto=format&w=1000"
                          alt="LUPPY Dc#7619">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">LUPPY Dc#7619</h4>
                      <h5 class="card-title">0.71 ETH</h5>
                      <small class="text-muted">Ends in 1 days</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gcs/files/ecf45a6daef42643f8746dfebe4c5fa5.png?auto=format&w=1000"
                          alt="Angel">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Angel</h4>
                      <h5 class="card-title">2.1681 WETH</h5>
                      <small class="text-muted">Last sale: 30 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card shadow-sm overflow-hidden">
                  <div class="product-img" title="Fighter Helmet">
                      <img class="w-100"
                          src="https://i.seadn.io/gcs/files/90951d0880eaa2fd8adb264a978fcd2e.png?auto=format&w=1000"
                          alt="Kanpai Panda">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Kanpai Panda</h4>
                      <h5 class="card-title">9 ETH</h5>
                      <small class="text-muted">Last sale: 3.777 ETH</small>
                      <div class="d-flex justify-content-evenly align-items-center mt-3">
                          <button type="button" class="btn btn-sm px-3">View</button>
                          <button type="button" class="btn btn-sm px-3">Buy</button>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
