<section class="overflow-hidden">
  <div class="row d-flex align-items-center">
    <div class="col">
      <div class="row g-0">
        <div class="auth-sidebar col-md-6 col-lg-4 d-none d-md-block" style="background-color: #F1CDD7;">
          <header class="p-5">
            <a href="#">dribbble
              <img src="images/" alt="">
            </a>
            <h1>Discover the world’s top Designers & Creatives.</h1>
          </header>

          <div class="artwork d-flex flex-column justify-content-end">
            <div class="artwork-image">
              <img src="../assets/images/auth-side.jpg" alt="login form" class="img-fluid" />
            </div>
            <p class="artwork-attribution px-5">
              Art by
              <a href="https://www.instagram.com/dwgishere_/" class="url">@duongsayhello</a>
            </p>
          </div>
        </div>
        <div class="content col-md-6 col-lg-8 ">
          <nav class="auth-nav mb-5 d-flex justify-content-end px-4 py-4">
            <p class="auth-link">
              Not a member ?
              <a href="SignUp.html">Sign up now</a>
            </p>
          </nav>
          <div class="card-body p-4 p-lg-5 d-flex align-items-center justify-content-center">
            <form class="mx-5">
              <div class="header d-flex align-items-center mb-4 pb-1">
                <span class="fw-bold mb-0">Sign in to Dribbble</span>
              </div>

              <div class="auth-connections pt-1 mb-4">
                <a href="#" class="google-connect-btn btn btn-lg btn-block me-2">
                  <i class="fa-brands fa-google"></i>
                  <span class="px-3">Sign in with Google</span>
                </a>
                <a href="#" class="twitter-connect-btn btn btn-lg btn-block">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </div>

              <div class="divider d-flex align-items-center justify-content-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example17">Username or Email Address</label>
                <input type="email" id="form2Example17" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <div class="d-flex justify-content-between ">
                  <label class="form-label" for="form2Example27">Password</label>
                  <a class="forgot-pass small" href="#!">Forgot password?</a>
                </div>
                <input type="password" id="form2Example27" class="form-control form-control-lg" />
              </div>

              <div class="pt-1 mb-4 sign-in">
                <a href="home.html" class="btn btn-lg btn-block">Sign In</a>
              </div>


              <div class="">
                <a href="#!" class="small text-muted">Terms of use, </a>
                <a href="#!" class="small text-muted">Privacy policy</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
