<div class="products container py-5">
  <div class="h3 text-center mb-5">
    CHECKOUT
  </div>

  <!-- List product -->
  <table class="table align-middle mb-5">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Price</th>
        <th class="text-center">Total</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="name d-flex align-items-center">
            <img src="../assets/images/ball-bigmant-dyed-tee-gren.webp" alt="" style="width: 150px; height: 150px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">8 BALL CORP. TEE</p>
              <p class="text-muted mb-0">Size: S</p>
              <p class="text-muted mb-0">Color: Yelow</p>
            </div>
          </div>
        </td>
        <td>
          <p class="quantity text-center">2</p>
        </td>
        <td>
          <p class="price text-center">$222</p>
        </td>
        <td>
          <p class="total text-center">$444</p>
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn me-2">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="name d-flex align-items-center">
            <img src="../assets/images/ball-bigmant-dyed-tee-gren.webp" alt="" style="width: 150px; height: 150px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">8 BALL CORP. TEE</p>
              <p class="text-muted mb-0">Size: S</p>
              <p class="text-muted mb-0">Color: Yelow</p>
            </div>
          </div>
        </td>
        <td>
          <p class="quantity text-center">2</p>
        </td>
        <td>
          <p class="price text-center">$222</p>
        </td>
        <td>
          <p class="total text-center">$444</p>
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn me-2">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="name d-flex align-items-center">
            <img src="../assets/images/ball-bigmant-dyed-tee-gren.webp" alt="" style="width: 150px; height: 150px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">8 BALL CORP. TEE</p>
              <p class="text-muted mb-0">Size: S</p>
              <p class="text-muted mb-0">Color: Yelow</p>
            </div>
          </div>
        </td>
        <td>
          <p class="quantity text-center">2</p>
        </td>
        <td>
          <p class="price text-center">$222</p>
        </td>
        <td>
          <p class="total text-center">$444</p>
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn me-2">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <div class="name d-flex align-items-center">
            <img src="../assets/images/ball-bigmant-dyed-tee-gren.webp" alt="" style="width: 150px; height: 150px"
              class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">8 BALL CORP. TEE</p>
              <p class="text-muted mb-0">Size: S</p>
              <p class="text-muted mb-0">Color: Yelow</p>
            </div>
          </div>
        </td>
        <td>
          <p class="quantity text-center">2</p>
        </td>
        <td>
          <p class="price text-center">$222</p>
        </td>
        <td>
          <p class="total text-center">$444</p>
        </td>
        <td>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn me-2">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button type="button" class="btn">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-end fw-bold">Total price</td>
        <td class="text-center fw-bold">$1890</td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <div class="action">
    <button class="btn px-3">Save</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="upload-image py-4 mb-4 d-flex flex-column justify-content-center align-items-center">
              <i class="fa-solid fa-arrow-up-from-bracket mb-3"></i>
              <p>Drap & Drop or <span class="choose-file">Choose file</span> to upload</p>
              <p class="text-mute">Maximum file size 50MB.</p>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example17">Name</label>
              <input type="name" id="form2Example17" class="form-control" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeNumber">Quantity</label>
              <input type="number" id="typeNumber" class="form-control" />
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example18">Price</label>
                  <input type="text" id="form2Example18" class="form-control" value="$" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example14">Sale</label>
                  <input type="text" id="form2Example14" class="form-control" value="$" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example15">Day start</label>
                  <input type="date" id="form2Example15" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example10">Day end</label>
                  <input type="date" id="form2Example10" class="form-control" />
                </div>
              </div>
            </div>
          </div>


          <div class="modal-footer">
            <button class="btn btn-block">Save</button>
            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>