<!-- START THE PROFILE -->
<div class="main">
  <div class="container">
    <div class="row featurette d-flex justify-content-center align-items-center border-bottom" style="height: 520px;">
      <div class="col-md-7" style="padding-right: 100px;">
        <h1 class="featurette-heading fw-bold lh-1 mb-3">
          Create Engaging
          <div>Landing Pages</div>
        </h1>
        <p class="lead mb-4">Build beautiful landing pages in record time with <a href="#">Anima</a>'s Landing Page UI kit for
          Figma. No code required!</p>
        <div class="d-flex">
          <a href="#" class="btn btn-getStarted me-4">Get Started</a>
          <a href="#" class="btn btn-howWork bg-light">How it works</a>
        </div>
      </div>
      <div class="col-md-5">
        <img src="../assets/images/[1920 x 1080] Fighter Helmet.jpg" class="featurette-image img-fluid mx-auto"
          alt="Responsive image" width="500" height="800" preserveAspectRatio="xMidYMid slice" focusable="false">
        <img src="" alt="">
      </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center border-bottom py-3">
      <div class="col-md-2">
        <img src="../assets/images/airbnb.png" class="featurette-image img-fluid mx-auto px-3" alt="Responsive image"
           preserveAspectRatio="xMidYMid slice" focusable="false">
        <img src="" alt="">
      </div>
      <div class="col-md-2">
        <img src="../assets/images/google.png" class="featurette-image img-fluid mx-auto px-3" alt="Responsive image"
           preserveAspectRatio="xMidYMid slice" focusable="false">
        <img src="" alt="">
      </div>
      <div class="col-md-2">
        <img src="../assets/images/amazon.png" class="featurette-image img-fluid mx-auto px-3" alt="Responsive image"
           preserveAspectRatio="xMidYMid slice" focusable="false">
        <img src="" alt="">
      </div>
      <div class="col-md-2">
        <img src="../assets/images/microsoft.png" class="featurette-image img-fluid mx-auto px-3" alt="Responsive image"
           preserveAspectRatio="xMidYMid slice" focusable="false">
        <img src="" alt="">
      </div>
      <div class="col-md-2">
        <img src="../assets/images/fedex.png" class="featurette-image img-fluid mx-auto px-3" alt="Responsive image"
           preserveAspectRatio="xMidYMid slice" focusable="false">
        <img src="" alt="">
      </div>
      <div class="col-md-2">
        <img src="../assets/images/hubspot.png" class="featurette-image img-fluid mx-auto px-3" alt="Responsive image"
           preserveAspectRatio="xMidYMid slice" focusable="false">
        <img src="" alt="">
      </div>

    </div>
  </div>

</div> <!-- Container -->
